{% extends 'base.html.twig' %}

{% block body %}
    <h1>TestHub</h1>
    <div>
        <h2>Попробовать свои силы</h2>
        {% for test in tests %}
            <div>
                <h3>{{ test.name }}</h3>
                {% for tag in test.tags %}
                    <p>{{ tag.name }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}