{% block testlist %}
    {# todo page navigation #}
    {% for test in tests %}
        <div class="row">
            <div class="col">
                <a href="">
                    <h4>{{ test.name }}</h4>
                </a>
            </div>
            <div class="col">
                <div class="float-right">{{ test.successAttempts }} / {{ test.allAttempts }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for tag in test.tags %}
                    <a href="#" class="badge badge-info">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}